# API
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
NEXT_PUBLIC_APP_ENV=development

# Electron
ELECTRON_RENDERER_URL=http://localhost:3000

# Feature flags
NEXT_PUBLIC_ENABLE_SCREENSHOTS=true
NEXT_PUBLIC_ENABLE_ACTIVITY_TRACKING=true
NEXT_PUBLIC_ENABLE_AUTO_UPDATE=true
